name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: checkout repository
      uses: actions/checkout@v4
    - name: install dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y build-essential cmake
        git clone https://github.com/ansh1406/Http-Server.git && cd Http-Server
        mkdir build && cd build && cmake .. && make && sudo make install && cd ../..

    - name: build json module
      run: cd modules/json && mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE=Release && make && sudo make install && cd ../..
      
    - name: configure
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DENDERMAN_PLUGIN_JSON=ON
    - name: build
      run: cmake --build build --config Release
